html, body, #container { height: 100%; margin: 0; padding: 0; }
body > #container { height: auto; min-height: 100%; }

body {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#page {
  overflow: hidden;
}

#sidebar-first {
  float: right;
  width: 20%;
}

#pageinner {
  float: left;
  width: 80%;
}

#pageinner #content {
  margin-right: 2em;
}

@media only screen and (max-width: 800px) {
  #sidebar-first {
    float: none;
    width: 100%;
  }
  #pageinner {
    float: none;
    width: 100%;
  }
  #pageinner #content {
    margin-right: 0;
  }
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 6em;
  margin-top: -6em;
  width: 100%;
  background-color: #666666;
  color: white;
  -moz-box-shadow: 0 3px 20px #000;
  -webkit-box-shadow: 0 3px 20px black;
  box-shadow: 0 3px 20px black;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10')";
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding: 20px 20px 40px 20px;
}
/* Page must have at least same padding bottom as height of footer */
#page {
  padding-bottom: 7em;
}

/* Sidebar menu styling */
.sidebar ul.menu,
.sidebar ul.links {
  margin: 0;
}
  .sidebar .menu li,
  .sidebar .menu li.expanded,
  .sidebar .menu li.collapsed {
    margin: 0;
    list-style: none;
  }
  .sidebar .menu li a {
    display: block;
  }
    .sidebar .menu li a.active {
      background-color: #E0E0D8;
      padding-left: 2px;
    }

    .sidebar .menu .menu li a {
      padding-left: 5px;
    }
    .sidebar .menu .menu li a:before {
      content: "- ";
    }

/* Default sidebar block's and panel pane's styling */
.sidebar .block,
.panel-pane {
  margin-bottom: 2em;
}

.sidebar .block h2,
.panel-pane h2.pane-title {
  margin: 0;
}

.panel-pane fieldset {
  margin: 0;
}

/* Panels margin tweaks */
.panel-col-last .inside {
  margin-left: 1em!important;
}
.panel-col-first .inside {
  margin-right: 1em!important;
}
.panel-col .inside {
  margin-left: 1em!important;
  margin-right: 1em!important;
}