html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#page {
  overflow: hidden;
}

#sidebar-first {
  float: right;
  width: 20%;
}

#pageinner {
  float: left;
  width: 80%;
}

#pageinner #content {
  margin-right: 2em;
}

@media only screen and (max-width: 800px) {
  #sidebar-first {
    float: none;
    width: 100%;
  }
  #pageinner {
    float: none;
    width: 100%;
  }
  #pageinner #content {
    margin-right: 0;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  overflow: hidden;;
}
  #footerinner {
    padding: 20px 20px 40px 20px;  
  }