/*
* Main stylesheet
*/
/* line 17, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*
* Variables for use in stylesheets
*/
/*
* Neat mixins
*/
/* 
 * Base stylesheet collecting all files
 */
@font-face {
  font-family: "OswaldLight";
  src: url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Light-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Light-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Light-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Light-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Light-webfont.svg#OswaldLight') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "OswaldBook";
  src: url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Regular-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Regular-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Regular-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Regular-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "OswaldBold";
  src: url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Bold-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Bold-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Bold-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Bold-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Bold-webfont.svg#OswaldBold') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "OswaldStencilRegular";
  src: url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Stencil-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Stencil-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Stencil-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Stencil-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/themes/indholdskanalen/css/fonts/oswald/Oswald-Stencil-webfont.svg#OswaldStencilRegular') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

/* line 22, ../sass/_base.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

/* line 28, ../sass/_base.scss */
body {
  font-family: "OswaldLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: white; }

/*
* Layouts default styling
*/
/* line 6, ../sass/_layouts.scss */
#slide-container .slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  /* line 13, ../sass/_layouts.scss */
  #slide-container .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover; }
  /* line 22, ../sass/_layouts.scss */
  #slide-container .slide .text-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    background-color: #ff9900;
    padding: 20px; }
    /* line 30, ../sass/_layouts.scss */
    #slide-container .slide .text-container .heading-container {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    /* line 34, ../sass/_layouts.scss */
    #slide-container .slide .text-container .slide-heading {
      font-size: 64px;
      font-size: 4rem;
      text-transform: uppercase;
      line-height: 77px;
      line-height: 4.8rem;
      margin-bottom: 20px;
      margin-bottom: 1.25rem; }
    /* line 41, ../sass/_layouts.scss */
    #slide-container .slide .text-container .divider {
      width: 10%;
      border-bottom: 0.2em solid white;
      margin-bottom: 10px;
      margin-bottom: 0.625rem; }
    /* line 47, ../sass/_layouts.scss */
    #slide-container .slide .text-container .slide-subheading {
      font-size: 27px;
      font-size: 1.7rem;
      font-style: italic;
      line-height: 32.64px;
      margin-bottom: 10px; }
    /* line 54, ../sass/_layouts.scss */
    #slide-container .slide .text-container .slide-text {
      font-family: "OswaldBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 19px;
      font-size: 1.2rem;
      line-height: 19px;
      line-height: 1.2rem;
      letter-spacing: 2px;
      letter-spacing: 0.1rem; }
      /* line 60, ../sass/_layouts.scss */
      #slide-container .slide .text-container .slide-text p {
        margin-bottom: 10px;
        margin-bottom: 0.625rem; }
  /* line 66, ../sass/_layouts.scss */
  #slide-container .slide .logo-container {
    position: absolute; }

/*
* Layout 1
*
* ---------------------------
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 94, ../sass/_layouts.scss */
.layout-1 .slide .image-container, .layout-2 .slide .image-container, .layout-3 .slide .image-container, .layout-4 .slide .image-container, .layout-5 .slide .image-container {
  background-image: url("../mockups/images/slide_1.jpeg"); }
/* line 98, ../sass/_layouts.scss */
.layout-1 .slide .text-container, .layout-2 .slide .text-container, .layout-3 .slide .text-container, .layout-4 .slide .text-container, .layout-5 .slide .text-container {
  top: 10%; }
  /* line 101, ../sass/_layouts.scss */
  .layout-1 .slide .text-container .heading-container, .layout-2 .slide .text-container .heading-container, .layout-3 .slide .text-container .heading-container, .layout-4 .slide .text-container .heading-container, .layout-5 .slide .text-container .heading-container {
    width: 50%;
    float: left;
    padding-right: 20px; }
  /* line 107, ../sass/_layouts.scss */
  .layout-1 .slide .text-container .slide-heading, .layout-2 .slide .text-container .slide-heading, .layout-3 .slide .text-container .slide-heading, .layout-4 .slide .text-container .slide-heading, .layout-5 .slide .text-container .slide-heading {
    margin-bottom: 10px;
    margin-bottom: 0.625rem; }
  /* line 111, ../sass/_layouts.scss */
  .layout-1 .slide .text-container .slide-text, .layout-2 .slide .text-container .slide-text, .layout-3 .slide .text-container .slide-text, .layout-4 .slide .text-container .slide-text, .layout-5 .slide .text-container .slide-text {
    width: 50%;
    float: left; }
  /* line 116, ../sass/_layouts.scss */
  .layout-1 .slide .text-container .divider, .layout-2 .slide .text-container .divider, .layout-3 .slide .text-container .divider, .layout-4 .slide .text-container .divider, .layout-5 .slide .text-container .divider {
    display: none; }

/*
* Layout 2
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* ---------------------------
*
*/
/* line 143, ../sass/_layouts.scss */
.layout-2 .slide .image-container {
  background-image: url("../mockups/images/slide_2.jpeg"); }
/* line 147, ../sass/_layouts.scss */
.layout-2 .slide .text-container {
  top: auto;
  bottom: 10%; }

/*
* Layout 3
*
* ---------------------------
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 174, ../sass/_layouts.scss */
.layout-3 .slide .image-container {
  background-image: url("../mockups/images/slide_3.jpeg"); }
/* line 178, ../sass/_layouts.scss */
.layout-3 .slide .text-container {
  top: 50%;
  margin-top: -130px;
  /* Must be replaced with javascript */ }

/*
* Layout 4
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* ---------------------------
*
*/
/* line 205, ../sass/_layouts.scss */
.layout-4 .slide .image-container {
  background-image: url("../mockups/images/slide_4.jpeg"); }
/* line 209, ../sass/_layouts.scss */
.layout-4 .slide .text-container {
  top: auto;
  bottom: 0; }

/*
* Layout 5
*
* ---------------------------
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 235, ../sass/_layouts.scss */
.layout-5 .slide .image-container {
  background-image: url("../mockups/images/slide_5.jpeg"); }
/* line 239, ../sass/_layouts.scss */
.layout-5 .slide .text-container {
  top: 0; }
