/*
* Main stylesheet
*/
/* line 17, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*
* Variables for use in stylesheets
*/
/*
* Neat mixins
*/
/* 
 * Base stylesheet collecting all files
 */
@font-face {
  font-family: "AllerBold";
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.svg#allerbold') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "AllerBoldItalic";
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller_bdit-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller_bdit-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bdit-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller_bdit-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller_bdit-webfont.svg#allerbold_italic') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "AllerItalic";
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.svg#alleritalic') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "Aller";
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.svg#allerregular') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

/* line 22, ../sass/_base.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

/* line 28, ../sass/_base.scss */
body {
  font-family: "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: white;
  overflow: hidden; }
  /* line 34, ../sass/_base.scss */
  body.slide-preview {
    font-size: 0.66667em; }

/* line 39, ../sass/_base.scss */
#progress {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0px;
  height: 1%;
  background-color: #8c8c8c;
  /*#EF2876;*/
  opacity: 0.6;
  z-index: 50000; }

/* line 51, ../sass/_base.scss */
#slide-count {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 49999;
  background-color: #8c8c8c;
  color: #fff;
  opacity: 0.6;
  padding: 4px; }

/*
* Default typography
*/
/* line 66, ../sass/_base.scss */
p {
  margin-bottom: 10px;
  margin-bottom: 0.625rem; }

/* line 71, ../sass/_base.scss */
strong,
b {
  font-family: "AllerBold", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 75, ../sass/_base.scss */
  strong em,
  strong i,
  b em,
  b i {
    font-family: "AllerBoldItalic", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 81, ../sass/_base.scss */
em,
i {
  font-family: "AllerItalic", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 85, ../sass/_base.scss */
  em strong,
  em b,
  i strong,
  i b {
    font-family: "AllerBoldItalic", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 90, ../sass/_base.scss */
h1 {
  font-size: 4.5em; }

/* line 94, ../sass/_base.scss */
h2 {
  font-size: 1.625em; }

/* line 98, ../sass/_base.scss */
h3 {
  font-size: 1.65em; }

/* line 102, ../sass/_base.scss */
h4 {
  font-size: 1.8em; }

/* line 106, ../sass/_base.scss */
h5 {
  font-size: 1.95em; }

/* line 110, ../sass/_base.scss */
h6 {
  font-size: 2.1em; }

/* line 115, ../sass/_base.scss */
.slide-text ul, .slide-text ol {
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px; }
/* line 121, ../sass/_base.scss */
.slide-text ul li {
  list-style: disc outside none; }
/* line 125, ../sass/_base.scss */
.slide-text ol li {
  list-style: decimal outside none; }

/*
* Color Themes
* Class added to slide container
*/
/* line 7, ../sass/_layouts.scss */
.box_skitter {
  background-color: transparent !important; }

/* line 11, ../sass/_layouts.scss */
.white-green {
  background-color: #002d12; }
  /* line 14, ../sass/_layouts.scss */
  .white-green .text-container {
    color: #fff;
    background-color: #006027; }

/* line 20, ../sass/_layouts.scss */
.white-blue {
  background-color: #001a21; }
  /* line 23, ../sass/_layouts.scss */
  .white-blue .text-container {
    color: #fff;
    background-color: #004154; }

/* line 29, ../sass/_layouts.scss */
.white-bordeaux {
  background-color: #580a01; }
  /* line 32, ../sass/_layouts.scss */
  .white-bordeaux .text-container {
    color: #fff;
    background-color: #8a1002; }

/* line 38, ../sass/_layouts.scss */
.white-grey {
  background-color: #575859; }
  /* line 41, ../sass/_layouts.scss */
  .white-grey .text-container {
    color: #fff;
    background-color: #707173; }

/* line 47, ../sass/_layouts.scss */
.black-orange {
  background-color: #c48400; }
  /* line 50, ../sass/_layouts.scss */
  .black-orange .text-container {
    color: #000;
    background-color: #f7a600; }

/*
* Layouts default styling
*/
/* line 59, ../sass/_layouts.scss */
#pure-template {
  display: none; }

/* line 62, ../sass/_layouts.scss */
#slide-container {
  width: 100%;
  height: 100%; }
  /* line 66, ../sass/_layouts.scss */
  #slide-container #pure-template {
    display: block; }

/* line 71, ../sass/_layouts.scss */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  /* line 80, ../sass/_layouts.scss */
  .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
    /* line 87, ../sass/_layouts.scss */
    .slide .image-container a {
      pointer-events: none;
      cursor: default; }
  /* line 93, ../sass/_layouts.scss */
  .slide .text-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 19999;
    padding: 40px;
    position: absolute; }
  /* line 101, ../sass/_layouts.scss */
  .slide .text-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    z-index: 20000;
    overflow: hidden;
    position: relative; }
    /* line 109, ../sass/_layouts.scss */
    .slide .text-container .heading-container {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px; }
    /* line 114, ../sass/_layouts.scss */
    .slide .text-container .slide-heading {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      font-family: "AllerBold", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 4.5em;
      text-transform: uppercase; }
    /* line 123, ../sass/_layouts.scss */
    .slide .text-container .slide-subheading {
      display: block;
      width: 100%;
      font-family: "AllerBold", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.625em; }
    /* line 130, ../sass/_layouts.scss */
    .slide .text-container .slide-text {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 20px;
      font-size: 1.5em;
      line-height: 1.65em; }
  /* line 141, ../sass/_layouts.scss */
  .slide .logo-container {
    z-index: 21000;
    position: absolute;
    bottom: 20px;
    right: 40px; }
    /* line 147, ../sass/_layouts.scss */
    .slide .logo-container img {
      max-width: 350px; }
  /* line 152, ../sass/_layouts.scss */
  .slide .rss-icon {
    z-index: 22000;
    display: none; }

/*
* Media queries
*/
@media (max-width: 1300px) {
  /* line 163, ../sass/_layouts.scss */
  body {
    font-size: 0.66667em;
    color: #f517d5 !important; }
    /* line 167, ../sass/_layouts.scss */
    body.slide-preview {
      font-size: 0.5em; }
      /* line 170, ../sass/_layouts.scss */
      body.slide-preview .slide-heading {
        font-size: 2.25em !important; }
      /* line 174, ../sass/_layouts.scss */
      body.slide-preview .logo-container img {
        max-width: 250px !important; }
    /* line 180, ../sass/_layouts.scss */
    body .slide-heading {
      font-size: 3em !important; }
    /* line 184, ../sass/_layouts.scss */
    body .slide-text,
    body .heading-container {
      padding: 16.66667px !important; }

  /* line 190, ../sass/_layouts.scss */
  .slide .logo-container img {
    max-width: 350px; } }
@media (max-width: 800px) {
  /* line 197, ../sass/_layouts.scss */
  body {
    font-size: 0.5em;
    color: #ff6600 !important; }
    /* line 201, ../sass/_layouts.scss */
    body.slide-preview {
      font-size: 0.4em; }
      /* line 204, ../sass/_layouts.scss */
      body.slide-preview .slide-heading {
        font-size: 1.8em !important; }
      /* line 208, ../sass/_layouts.scss */
      body.slide-preview .logo-container img {
        max-width: 150px !important; }
    /* line 214, ../sass/_layouts.scss */
    body .slide-heading {
      font-size: 2.25em !important; }
    /* line 218, ../sass/_layouts.scss */
    body .slide-text,
    body .heading-container {
      padding: 13.33333px !important; }

  /* line 224, ../sass/_layouts.scss */
  .slide .logo-container img {
    max-width: 200px; } }
@media (max-width: 500px) {
  /* line 231, ../sass/_layouts.scss */
  body {
    font-size: 0.4em;
    color: #5df51b !important; }
    /* line 235, ../sass/_layouts.scss */
    body.slide-preview {
      font-size: 0.33333em; }
      /* line 238, ../sass/_layouts.scss */
      body.slide-preview .slide-heading {
        font-size: 1.5em !important; }
      /* line 242, ../sass/_layouts.scss */
      body.slide-preview .logo-container img {
        max-width: 100px !important; }
    /* line 248, ../sass/_layouts.scss */
    body .slide-heading {
      font-size: 1.8em !important; }
    /* line 252, ../sass/_layouts.scss */
    body .slide-text,
    body .heading-container {
      padding: 11.11111px !important; }

  /* line 258, ../sass/_layouts.scss */
  .slide .logo-container img {
    max-width: 150px; } }
/*
* Layout 1
* Text to the left
*
* ---------------------------
* |         |               |
* |    T    |               |
* |    E    |               |
* |    X    |               |
* |    T    |               |
* |         |               |
* |         |               |
* ---------------------------
*
*/
/* line 282, ../sass/_layouts.scss */
.layout-1 .text-wrapper {
  top: 0;
  left: 0;
  width: 35%;
  height: 100%; }
/* line 289, ../sass/_layouts.scss */
.layout-1 .text-container {
  width: 100%;
  height: 100%; }

/*
* Layout 2
* Text in top
*
* ---------------------------
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 313, ../sass/_layouts.scss */
.layout-2 .text-wrapper {
  top: 0;
  width: 100%; }
/* line 318, ../sass/_layouts.scss */
.layout-2 .text-container {
  width: 100%; }
  /* line 321, ../sass/_layouts.scss */
  .layout-2 .text-container .heading-container {
    width: 49.5%;
    float: left; }
  /* line 326, ../sass/_layouts.scss */
  .layout-2 .text-container .slide-heading {
    margin-bottom: 10px;
    margin-bottom: 0.625rem; }
  /* line 330, ../sass/_layouts.scss */
  .layout-2 .text-container .slide-text {
    width: 49.5%;
    float: left; }

/*
* Layout 3
* Text in bottom
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* ---------------------------
*
*/
/* line 355, ../sass/_layouts.scss */
.layout-3 .text-wrapper {
  bottom: 0;
  width: 100%; }
/* line 360, ../sass/_layouts.scss */
.layout-3 .text-container {
  width: 100%; }
  /* line 363, ../sass/_layouts.scss */
  .layout-3 .text-container .heading-container {
    width: 49.5%;
    float: left; }
  /* line 368, ../sass/_layouts.scss */
  .layout-3 .text-container .slide-heading {
    margin-bottom: 10px;
    margin-bottom: 0.625rem; }
  /* line 372, ../sass/_layouts.scss */
  .layout-3 .text-container .slide-text {
    width: 49.5%;
    float: left; }
/* line 378, ../sass/_layouts.scss */
.layout-3 .logo-container {
  bottom: auto;
  top: 35px; }

/*
* Layout 4
* Text to the right
*
* ---------------------------
* |               |         |
* |               |    T    |
* |               |    E    |
* |               |    X    |
* |               |    T    |
* |               |         |
* |               |         |
* ---------------------------
*
*/
/* line 402, ../sass/_layouts.scss */
.layout-4 .text-wrapper {
  top: 0;
  right: 0;
  width: 35%;
  height: 100%; }
/* line 409, ../sass/_layouts.scss */
.layout-4 .text-container {
  width: 100%;
  height: 100%; }
/* line 414, ../sass/_layouts.scss */
.layout-4 .logo-container {
  bottom: auto;
  right: auto;
  left: 40px;
  top: 20px; }

/*
* Layout 5
* Image only
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 439, ../sass/_layouts.scss */
.layout-5 .text-wrapper {
  display: none; }

/*
* Layout 6
* Text only
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |        Textbox          |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 461, ../sass/_layouts.scss */
.layout-6 .image-container {
  display: none; }
/* line 465, ../sass/_layouts.scss */
.layout-6 .text-wrapper {
  padding: 0; }
/* line 469, ../sass/_layouts.scss */
.layout-6 .text-container {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
/* line 474, ../sass/_layouts.scss */
.layout-6 .text-wrapper,
.layout-6 .text-container {
  width: 100%;
  height: 100%; }

/*
* Layout 7
* Text in top, modified for RSS text feed purpose
*
* ---------------------------
* |-------------------------|
* |      feed text box      |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 498, ../sass/_layouts.scss */
.layout-7 .text-wrapper {
  top: 0;
  width: 100%; }
/* line 503, ../sass/_layouts.scss */
.layout-7 .text-container {
  width: 100%; }
  /* line 506, ../sass/_layouts.scss */
  .layout-7 .text-container .heading-container {
    width: 45.5%;
    float: left; }
  /* line 511, ../sass/_layouts.scss */
  .layout-7 .text-container .slide-heading {
    margin-bottom: 10px;
    margin-bottom: 0.625rem; }
  /* line 515, ../sass/_layouts.scss */
  .layout-7 .text-container .slide-subheading {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
  /* line 519, ../sass/_layouts.scss */
  .layout-7 .text-container .slide-text {
    width: 53.5%;
    float: left; }
/* line 525, ../sass/_layouts.scss */
.layout-7 .logo-container {
  right: auto;
  left: 40px; }
/* line 530, ../sass/_layouts.scss */
.layout-7 .rss-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-image: url("../images/rss_overlay_icon.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 300px; }

/*
* Layout 8
* Text to the left, small image
*
* ---------------------------
* |         |               |
* |    T    |   ---------   |
* |    E    |   |       |   |
* |    X    |   | IMAGE |   |
* |    T    |   |       |   |
* |         |   ---------   |
* |         |               |
* ---------------------------
*
*/
/*
* TODO: For this to work frontend javascript must be changed;
* resize event must be changed and skitter settings must be dynamic.
*/
/* line 568, ../sass/_layouts.scss */
.layout-8 .text-wrapper {
  top: 0;
  left: 0;
  width: 35%;
  height: 100%; }
/* line 575, ../sass/_layouts.scss */
.layout-8 .text-container {
  width: 100%;
  height: 100%; }
/* line 580, ../sass/_layouts.scss */
.layout-8 .image-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 40px;
  padding-left: 40%; }
  /* line 588, ../sass/_layouts.scss */
  .layout-8 .image-container img {
    max-width: 890px;
    height: auto; }
