/*
* Main stylesheet
*/
/* line 17, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*
* Variables for use in stylesheets
*/
/*
* Neat mixins
*/
/* 
 * Base stylesheet collecting all files
 */
@font-face {
  font-family: "AllerBold";
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bd-webfont.svg#allerbold') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "AllerBoldItalic";
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller_bdit-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller_bdit-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_bdit-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller_bdit-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller_bdit-webfont.svg#allerbold_italic') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "AllerItalic";
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_it-webfont.svg#alleritalic') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "Aller";
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.eot');
  src: url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.eot?#iefix') format('eot'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.woff') format('woff'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.ttf') format('truetype'), url('/sites/service.indholdskanalen.dk/modules/ik_frontend/css/fonts/aller/aller_rg-webfont.svg#allerregular') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

/* line 22, ../sass/_base.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

/* line 28, ../sass/_base.scss */
body {
  font-family: "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: white;
  overflow: hidden; }

/*
* Default typography
*/
/* line 39, ../sass/_base.scss */
p {
  margin-bottom: 10px;
  margin-bottom: 0.625rem; }

/* line 44, ../sass/_base.scss */
strong,
b {
  font-family: "AllerBold", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 48, ../sass/_base.scss */
  strong em,
  strong i,
  b em,
  b i {
    font-family: "AllerBoldItalic", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 54, ../sass/_base.scss */
em,
i {
  font-family: "AllerItalic", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 58, ../sass/_base.scss */
  em strong,
  em b,
  i strong,
  i b {
    font-family: "AllerBoldItalic", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 63, ../sass/_base.scss */
h1 {
  font-size: 72px; }

/* line 67, ../sass/_base.scss */
h2 {
  font-size: 16px; }

/* line 71, ../sass/_base.scss */
h3 {
  font-size: 17.6px; }

/* line 75, ../sass/_base.scss */
h4 {
  font-size: 19.2px; }

/* line 79, ../sass/_base.scss */
h5 {
  font-size: 20.8px; }

/* line 83, ../sass/_base.scss */
h6 {
  font-size: 22.4px; }

/*
* Layouts default styling
*/
/* line 4, ../sass/_layouts.scss */
#pure-template {
  display: none; }

/* line 7, ../sass/_layouts.scss */
#slide-container {
  width: 100%;
  height: 100%; }
  /* line 11, ../sass/_layouts.scss */
  #slide-container #pure-template {
    display: block; }

/* line 16, ../sass/_layouts.scss */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  /* line 25, ../sass/_layouts.scss */
  .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  /* line 33, ../sass/_layouts.scss */
  .slide .text-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 20000;
    position: absolute;
    background-color: #ff9900; }
    /* line 40, ../sass/_layouts.scss */
    .slide .text-container .heading-container {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px; }
    /* line 45, ../sass/_layouts.scss */
    .slide .text-container .slide-heading {
      font-size: 72px;
      font-size: 4.5rem;
      line-height: 72px;
      line-height: 4.5rem;
      margin-bottom: 20px;
      margin-bottom: 1.25rem;
      font-family: "AllerBold", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    /* line 52, ../sass/_layouts.scss */
    .slide .text-container .divider {
      width: 10%;
      border-bottom: 0.2em solid white;
      margin-bottom: 10px;
      margin-bottom: 0.625rem; }
    /* line 58, ../sass/_layouts.scss */
    .slide .text-container .slide-subheading {
      font-size: 16px;
      font-size: 1rem;
      font-family: "AllerBold", "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 20.8px;
      margin-bottom: 10px; }
    /* line 65, ../sass/_layouts.scss */
    .slide .text-container .slide-text {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px;
      font-size: 1rem;
      line-height: 21px;
      line-height: 1.3rem;
      letter-spacing: 2px;
      letter-spacing: 0.1rem;
      padding: 20px; }
  /* line 74, ../sass/_layouts.scss */
  .slide .logo-container {
    z-index: 21000;
    position: absolute;
    top: 20px;
    right: 20px; }

/*
* Layout 1
*
* ---------------------------
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 101, ../sass/_layouts.scss */
.layout-1 .text-container, .layout-2 .text-container, .layout-3 .text-container, .layout-4 .text-container, .layout-5 .text-container {
  width: 100%;
  top: 10%; }
  /* line 105, ../sass/_layouts.scss */
  .layout-1 .text-container .heading-container, .layout-2 .text-container .heading-container, .layout-3 .text-container .heading-container, .layout-4 .text-container .heading-container, .layout-5 .text-container .heading-container {
    width: 49.5%;
    float: left; }
  /* line 110, ../sass/_layouts.scss */
  .layout-1 .text-container .slide-heading, .layout-2 .text-container .slide-heading, .layout-3 .text-container .slide-heading, .layout-4 .text-container .slide-heading, .layout-5 .text-container .slide-heading {
    margin-bottom: 10px;
    margin-bottom: 0.625rem; }
  /* line 114, ../sass/_layouts.scss */
  .layout-1 .text-container .slide-text, .layout-2 .text-container .slide-text, .layout-3 .text-container .slide-text, .layout-4 .text-container .slide-text, .layout-5 .text-container .slide-text {
    width: 49.5%;
    float: left; }
  /* line 119, ../sass/_layouts.scss */
  .layout-1 .text-container .divider, .layout-2 .text-container .divider, .layout-3 .text-container .divider, .layout-4 .text-container .divider, .layout-5 .text-container .divider {
    display: none; }
/* line 124, ../sass/_layouts.scss */
.layout-1 .logo-container, .layout-2 .logo-container, .layout-3 .logo-container, .layout-4 .logo-container, .layout-5 .logo-container {
  top: auto;
  bottom: 20px; }

/*
* Layout 2
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* ---------------------------
*
*/
/* line 147, ../sass/_layouts.scss */
.layout-2 .text-container {
  top: auto;
  bottom: 10%; }
/* line 152, ../sass/_layouts.scss */
.layout-2 .logo-container {
  top: 20px;
  bottom: auto; }

/*
* Layout 3
*
* ---------------------------
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 175, ../sass/_layouts.scss */
.layout-3 .text-container {
  top: 50%;
  margin-top: -134px;
  /* Must be replaced with javascript */ }
/* line 180, ../sass/_layouts.scss */
.layout-3 .logo-container {
  top: 20px;
  bottom: auto; }

/*
* Layout 4
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* ---------------------------
*
*/
/* line 203, ../sass/_layouts.scss */
.layout-4 .text-container {
  top: auto;
  bottom: 0; }
/* line 207, ../sass/_layouts.scss */
.layout-4 .logo-container {
  top: 20px;
  bottom: auto; }

/*
* Layout 5
*
* ---------------------------
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 230, ../sass/_layouts.scss */
.layout-5 .text-container {
  top: 0; }
/* line 233, ../sass/_layouts.scss */
.layout-5 .logo-container {
  top: auto;
  bottom: 20px; }

/*
* Layout 6
*
* ---------------------------
* |            |            |
* |      T     |            |
* |      E     |            |
* |      X     |            |
* |      T     |            |
* |            |            |
* |            |            |
* ---------------------------
*
*/
/* line 255, ../sass/_layouts.scss */
.layout-6 .text-container, .layout-7 .text-container, .layout-8 .text-container, .layout-9 .text-container, .layout-10 .text-container, .layout-11 .text-container {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%; }

/*
* Layout 7
*
* ---------------------------
* |            |            |
* |            |      T     |
* |            |      E     |
* |            |      X     |
* |            |      T     |
* |            |            |
* |            |            |
* ---------------------------
*
*/
/* line 280, ../sass/_layouts.scss */
.layout-7 .text-container {
  left: auto;
  right: 0; }
/* line 284, ../sass/_layouts.scss */
.layout-7 .logo-container {
  right: auto;
  left: 20px; }

/*
* Layout 8
*
* ---------------------------
* |        |                |
* |        |        T       |
* |        |        E       |
* |        |        X       |
* |        |        T       |
* |        |                |
* |        |                |
* ---------------------------
*
*/
/* line 307, ../sass/_layouts.scss */
.layout-8 .text-container {
  width: 75%;
  right: 0;
  left: auto; }
/* line 312, ../sass/_layouts.scss */
.layout-8 .logo-container {
  right: auto;
  left: 20px; }

/*
* Layout 9
*
* ---------------------------
* |                |        |
* |        T       |        |
* |        E       |        |
* |        X       |        |
* |        T       |        |
* |                |        |
* |                |        |
* ---------------------------
*
*/
/* line 335, ../sass/_layouts.scss */
.layout-9 .text-container {
  width: 75%; }

/*
* Layout 10
*
* ---------------------------
* |        |                |
* |    T   |                |
* |    E   |                |
* |    X   |                |
* |    T   |                |
* |        |                |
* |        |                |
* ---------------------------
*
*/
/* line 357, ../sass/_layouts.scss */
.layout-10 .text-container {
  width: 25%; }

/*
* Layout 11
*
* ---------------------------
* |                |        |
* |                |    T   |
* |                |    E   |
* |                |    X   |
* |                |    T   |
* |                |        |
* |                |        |
* ---------------------------
*
*/
/* line 379, ../sass/_layouts.scss */
.layout-11 .text-container {
  width: 25%;
  right: 0;
  left: auto; }
/* line 384, ../sass/_layouts.scss */
.layout-11 .logo-container {
  right: auto;
  left: 20px; }

/*
* Layout 12
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 406, ../sass/_layouts.scss */
.layout-12 .text-container {
  display: none; }

/*
* Layout 13
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |        Textbox          |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/
/* line 427, ../sass/_layouts.scss */
.layout-13 .image-container {
  display: none; }
/* line 431, ../sass/_layouts.scss */
.layout-13 .text-container {
  width: 100%;
  height: 100%; }
