/* 
 * Base stylesheet collecting all files
 */

@include font-face("OswaldLight", font-files("oswald/Oswald-Light-webfont.woff",
   "oswald/Oswald-Light-webfont.ttf", "oswald/Oswald-Light-webfont.svg#OswaldLight"),
   "oswald/Oswald-Light-webfont.eot", 'normal', 'normal');

@include font-face("OswaldBook", font-files("oswald/Oswald-Regular-webfont.woff",
   "oswald/Oswald-Regular-webfont.ttf", "oswald/Oswald-Regular-webfont.svg#OswaldBook"),
   "oswald/Oswald-Regular-webfont.eot", 'normal', 'normal');

@include font-face("OswaldBold", font-files("oswald/Oswald-Bold-webfont.woff",
   "oswald/Oswald-Bold-webfont.ttf", "oswald/Oswald-Bold-webfont.svg#OswaldBold"),
   "oswald/Oswald-Bold-webfont.eot", 'normal', 'normal');

@include font-face("OswaldStencilRegular", font-files("oswald/Oswald-Stencil-webfont.woff",
   "oswald/Oswald-Stencil-webfont.ttf", "oswald/Oswald-Stencil-webfont.svg#OswaldStencilRegular"),
   "oswald/Oswald-Stencil-webfont.eot", 'normal', 'normal');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: $font-family-light;
  @include rem('font-size', $base-font-size);
  color: $font-color;
  overflow: hidden;
}

/*
* Default typography
*/

p {
  @include rem('margin-bottom', $default-spacing / 2);
}

strong,
b {
  font-family: "OswaldBold";
}

em,
i {
  font-family: $font-family-regular;
  font-style: italic;
}

h1 {
  font-size: $heading-font-size;
}

h2 {
  font-size: $subheading-font-size;
}

h3 {
  font-size: $textbox-font-size * 1.1;
}

h4 {
  font-size: $textbox-font-size * 1.2;
}

h5 {
  font-size: $textbox-font-size * 1.3;
}

h6 {
  font-size: $textbox-font-size * 1.4;
}