#page {
  overflow: hidden;
}

#sidebar-first {
  float: right;
  width: 20%;
}

#pageinner {
  float: left;
  width: 80%;
}

#pageinner #content {
  margin-right: 2em;
}

@media only screen and (max-width: 1200px) {
  #sidebar-first {
    float: none;
    width: 100%;
  }
  #pageinner {
    float: none;
    width: 100%;
  }
  #pageinner #content {
    margin-right: 0;
  }
}

/* Page must have at least same padding bottom as height of footer */
#page {
  padding-bottom: 7em;
}

/* Sidebar menu styling */
.sidebar ul.menu,
.sidebar ul.links {
  margin: 0;
}
  .sidebar .menu li,
  .sidebar .menu li.expanded,
  .sidebar .menu li.collapsed {
    margin: 0;
    list-style: none;
  }
  .sidebar .menu li a {
    display: block;
  }
    .sidebar .menu li a.active {
      background-color: #E0E0D8;
      padding-left: 2px;
    }

    .sidebar .menu .menu li a {
      padding-left: 5px;
    }
    .sidebar .menu .menu li a:before {
      content: "- ";
    }

/* Default sidebar block's and panel pane's styling */
.sidebar .block,
.panel-pane {
  margin-bottom: 2em;
  clear: both;
}

.sidebar .content {
  overflow: hidden;
}

.sidebar .block h2 {
  margin: 0;
}

.panel-pane fieldset {
  margin: 0;
}

/* Panels margin tweaks */
.panel-col-last .inside {
  margin-left: 1em!important;
}
.panel-col-first .inside {
  margin-right: 1em!important;
}
.panel-col .inside {
  margin-left: 1em!important;
  margin-right: 1em!important;
}

/* Views styles */
ul.views-fluid-grid-list {
  margin-left: 0;
}

li.views-fluid-grid-item {
  color: inherit;
  background-color: inherit;
  border: none;
  margin-bottom: 2em;
}

.views-exposed-form .views-exposed-widget .description {
  display: none;
}

/* Action links menu */
.action-link-item {
  position: relative;
  clear: both;
  padding-top: 1em;
}

  .action-container {
    display: none;
  }
    .action-link-item:hover > .action-container{
      display: block;
      position: absolute;
      top: 0.5em;
      right: 0;
      z-index: 10;
    }
    
    .action-links {
      background-color: #eaeaea;
      padding: 5px;
    }
      .action-links ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

  .action-link-item img {
    float: left;
    margin-right: 5px;
    width: 30%;
    height: auto;
  }    
  
/* Slide node form */

#slide-node-form .form-type-radio {
  float: left;
  margin-right: 10px;
}
#slide-node-form .description {
  clear: both;
}
#slide-node-form .field-name-field-ik-slide-logo .media-item {
  background-color: #999;
}

.panel-pane.hidden {
  display: none;
}