/*
* Layouts styling
*/

#slide-container {
  @include box-sizing(border-box);

  position: relative;
  width: 100%;
  height: 100%;
}

#image-container {
  position: absolute;
  top: 0;
  left: 0;

  img.slide-image {
    width: 100%;
    height: 100%;
  }
}

#text-container {
  @include box-sizing(border-box);

  position: absolute;
  width: 100%;
  background-color: $textbox-color;
  padding: $textbox-padding;

  #heading-container {
    @include box-sizing(border-box);
  }

  .slide-heading {
    font-size: $heading-font-size;
    text-transform: uppercase;
    line-height: $heading-font-size * 1.2;
    margin-bottom: $default-spacing;
  }

  .divider {
    width:10%;
    border-bottom: 0.2rem solid $font-color;
    margin-bottom: $default-spacing / 2;
  }

  .slide-subheading {
    font-size: $subheading-font-size;
    font-style: italic;
    line-height: $subheading-font-size * 1.2;
    margin-bottom: $default-spacing / 2;
  }

  .slide-text {
    line-height: $base-font-size * 1.3;
  }
}

#logo-container {
  position:absolute;
}

// Import all layouts
@import "_layout_1.scss";