#folder {
  width: 200px;
  overflow:auto;
}

#media_folder_table {
  clear: both;
  margin-top: 15px;
}

#media_folder_table td {
  vertical-align: top;
}

#folder ul.hidden {
  display: none;
}

#categories-hierarchy {
  background-color: #ccc;
  border: 1px solid #000;
  height: 500px;
  padding: 5px;
  width: 300px;
}

#folder li {
  list-style-type: none;
  margin: 2px 2px 2px 0px;
  margin-top: 4px;
}

#folder ul {
  list-style-type: none;
  margin: 2px 2px 2px 0px;
  padding: 0px;
}

#folder ul ul {
  list-style-type: none;
  margin: 2px 2px 2px 29px;
  padding: 0px;
}

#folder li.folder > div.icon {
  background-image: url(../images/icons/folder.png);
  float: left;
  margin-right: 6px;
  width: 24px;
}

#folder li.parent > div.icon {
  background-image: url(../images/icons/folder-parent.png);
  cursor: pointer;
  float: left;
  margin-right: 6px;
  width: 24px;
  color: #999;
}

#folder li.empty > div.icon {
  background-image: url(../images/icons/folder-empty.png);
}

#folder li.empty.parent > div.icon {
  background-image: url(../images/icons/folder-parent-empty.png);
}

#folder .folder_load:hover {
  cursor: pointer;
}

#folder .ui-state-highlight {
  background-color: #ffff99;
}

#folder .dragOverDrop {
  background-color: orange;
  font-weight: bold;
}

#folder li.selected {
  font-weight: bold;
}
#folder li.selected li {
  font-weight: normal;
}

#media-thumb-list li {
  display: inline;
}

#media_browser_plus_pages .media_paging_page {
  float: left;
  padding: 0px 8px;
  border: 1px solid;
  border-color: #fff;
}

#media_browser_plus_pages .media_paging_page:hover {
  cursor: pointer;
  background-color: #ccc;
  border-color: #999;
}

#media_browser_plus_pages .active_page {
  font-weight: bold;
  background-color: #fff;
  border-color: #999;
  margin-right: 1px;
}

#media_browser_plus_pages .active_page:hover {
  cursor: default;
  background-color: #fff;
}

#media_paging_table .media_paging_page {
  float: left;
}

#media_paging_table .media_paging_page {
  padding: 2px 8px;
  border: 1px solid;
  border-color: #fff;
}

#media_paging_table .media_paging_page:hover {
  cursor: pointer;
  background-color: #ccc;
  border-color: #999;
}

#media_paging_table .active_page {
  font-weight: bold;
  background-color: #fff;
  border-color: #999;
  margin-right: 1px;
}

#media_paging_table .active_page:hover {
  cursor: default;
  background-color: #fff;
}

#media_paging_table .active_page a:hover {
  cursor: default;
  text-decoration: none;
}

input.hidden {
  display:none;
}

#navlist {
  width: 100%;
  height: 180px;
  overflow: auto;
}

ul#navlist {
  white-space: nowrap;
  margin: 0px;
}
#navlist img {
  width: 120px;
  height: 120px;
  padding: 10px;
  border: 1px solid #cccccc;
}

#navlist div {
  width: 150px;
  height: 150px;
  display: inline;
}

#navlist div.media-select {
  padding: 10px;
}

#navlist div.selected img {
  background-color: #F4ECC7;
}

#navlist li {
  display: inline;
  list-style-type: none;
}

#media-basket-list{
  list-style-type: none;
  overflow: auto;
  height: 165px;
}
#media_browser_plus_selection_panel {
  text-align: right;
}

#media_browser_plus_selection_panel a {
  margin-right: 20px;
}

#media_browser_plus_basket_panel a {
  margin-right: 20px;
}

#media_browser_plus_basket_panel {
  text-align: right;
}

#edit-column-three {
  clear: both;
}

#media_browser_plus_preview_panel {
  text-align: center;
}

#mediaBrowser {
  width: 90%;
}


/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/


.mbp-item-list .media-list-thumbnails {
  overflow: auto;
  width: 100%;
}

.mbp-item-list ul.media-list-thumbnails {
  margin: 0px;
  padding: 0px;
}

.mbp-item-list .media-list-thumbnails > li {
  float: left;
  list-style: none;
}

.mbp-item-list .media-list-thumbnails .media-item {
  padding: 16px 16px 4px 16px;
}

.mbp-item-list .media-list-thumbnails .form-type-checkbox {
  margin: -35px 0 0 16px;
  position:  absolute;
}

.mbp-item-list .media-item .media-type-icon {
  border: none;
  margin: 0 0 -5px;
  width: auto;
}

.mbp-item-list .media-item {
  background: #FFF;
  border: 1px solid #CCCCCC;
  margin: 10px;
  padding: 6px 6px 2px;
  width: 100px;
}

.mbp-item-list .media-item.selected {
  background: #F4ECC7;
}

.mbp-item-list .media-item a {
  display: block;
}

.mbp-item-list .media-item img {
  border: 2px solid transparent;
  display: inline-block;
  margin-left: -2px;
  height: auto;
  width: 100%;
}

.mbp-item-list .media-item img:hover {
  border-color: #058AC5;
}


.mbp-item-list .media-item-icons img{
  height:25px;
  width:25px;
  float:left;
}

.mbp-item-list .media-item .label-wrapper {
  overflow: hidden;
  margin-left: 14px;
}

.mbp-item-list .media-item .label-wrapper:hover {
  border-bottom: 2px solid #CCC;
  border-right: 2px solid #CCC;
  display: inline-block;
  line-height: 16px;
  margin-bottom: -1px;
  overflow: visible;
  position: relative;
  z-index: 10;
}

.mbp-item-list .preview .media-item .label-wrapper {
  margin-left: 0;
}

.preview {
  display: inline-block;
  vertical-align: middle;
}

.mbp-item-list .media-item .media-filename {
  background: #FFF;
  color: #058AC5;
  font-size: 10px;
  padding: 0 3px;
  white-space: nowrap;
}

.mbp-item-list .media-item .label-wrapper:hover .media-filename {
  border: 1px solid #888;
  display: inline-block;
  margin: 0 0 -2px -1px;
}

.mbp-item-list .media-item.selected .media-filename {
  background: #F4ECC7;
}

.mbp-item-list .media-item .media-filename:hover {
  text-decoration: underline;
}

.mbp-item-list .media-item .media-thumbnail a {
  display: none;
}
