/*
* Layouts default styling
*/
#pure-template{
  display: none;
}
#slide-container {
  width: 100%;
  height: 100%;

  #pure-template {
    display: block;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .text-container {
    @include box-sizing(border-box);

    z-index: 20000;
    position: absolute;
    background-color: $textbox-color;

    .heading-container {
      @include box-sizing(border-box);
      padding: $textbox-padding;
    }

    .slide-heading {
      @include rem('font-size', $heading-font-size);
      @include rem('line-height', $heading-font-size);
      @include rem('margin-bottom', $default-spacing);
      font-family: $font-family-heading;
      text-transform: uppercase;
    }

    .divider {
      width:10%;
      border-bottom: 0.2em solid $font-color;
      @include rem('margin-bottom', $default-spacing / 2);
    }

    .slide-subheading {
      @include rem('font-size', $subheading-font-size);
      @include rem('line-height', $subheading-font-size * 1.2);
      font-family: $font-family-subheading;
      margin-bottom: $default-spacing / 2;
    }

    .slide-text {
      @include box-sizing(border-box);
      @include rem('font-size', $textbox-font-size);
      @include rem('line-height', $textbox-font-size * 1.2);
      //@include rem('letter-spacing', $base-font-size * 0.1);
      padding: $textbox-padding;
    }
  }

  .logo-container {
    z-index: 21000;
    position:absolute;
    top: $default-spacing;
    right: $default-spacing;
  }

}



/*
* Layout 1
*
* ---------------------------
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-1 {
  .text-container {
    width: 100%;
    top:10%;

    .heading-container {
      width: 49.5%;
      float: left;
    }

    .slide-heading {
      @include rem('margin-bottom', $default-spacing / 2);
    }

    .slide-text {
      width: 49.5%;
      float: left;
    }

    .divider {
      display:none;
    }
  }

  .logo-container {
    top: auto;
    bottom: $default-spacing;
  }
}

/*
* Layout 2
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* ---------------------------
*
*/

.layout-2 {
  @extend .layout-1;
  .text-container {
    top: auto;
    bottom: 10%;
  }

  .logo-container {
    top: $default-spacing;
    bottom: auto;
  }
}

/*
* Layout 3
*
* ---------------------------
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-3 {
  @extend .layout-1;
  .text-container {
    top: 50%;
    margin-top: -134px; /* Must be replaced with javascript */
  }

  .logo-container {
    top: $default-spacing;
    bottom: auto;
  }
}

/*
* Layout 4
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* ---------------------------
*
*/

.layout-4 {
  @extend .layout-1;
  .text-container {
    top: auto;
    bottom: 0;
  }
  .logo-container {
    top: $default-spacing;
    bottom: auto;
  }
}

/*
* Layout 5
*
* ---------------------------
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-5 {
  @extend .layout-1;
  .text-container {
    top: 0;
  }
  .logo-container {
    top: auto;
    bottom: $default-spacing;
  }
}

/*
* Layout 6
*
* ---------------------------
* |            |            |
* |      T     |            |
* |      E     |            |
* |      X     |            |
* |      T     |            |
* |            |            |
* |            |            |
* ---------------------------
*
*/

.layout-6 {
  .text-container {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
}

/*
* Layout 7
*
* ---------------------------
* |            |            |
* |            |      T     |
* |            |      E     |
* |            |      X     |
* |            |      T     |
* |            |            |
* |            |            |
* ---------------------------
*
*/

.layout-7 {
  @extend .layout-6;
  .text-container {
    left: auto;
    right: 0;
  }
  .logo-container {
    right: auto;
    left: $default-spacing;
  }
}

/*
* Layout 8
*
* ---------------------------
* |        |                |
* |        |        T       |
* |        |        E       |
* |        |        X       |
* |        |        T       |
* |        |                |
* |        |                |
* ---------------------------
*
*/

.layout-8 {
  @extend .layout-6;
  .text-container {
    width: 75%;
    right: 0;
    left: auto;
  }
  .logo-container {
    right: auto;
    left: $default-spacing;
  }
}

/*
* Layout 9
*
* ---------------------------
* |                |        |
* |        T       |        |
* |        E       |        |
* |        X       |        |
* |        T       |        |
* |                |        |
* |                |        |
* ---------------------------
*
*/

.layout-9 {
  @extend .layout-6;
  .text-container {
    width: 75%;
  }
}

/*
* Layout 10
*
* ---------------------------
* |        |                |
* |    T   |                |
* |    E   |                |
* |    X   |                |
* |    T   |                |
* |        |                |
* |        |                |
* ---------------------------
*
*/

.layout-10 {
  @extend .layout-6;
  .text-container {
    width: 25%;
  }
}

/*
* Layout 11
*
* ---------------------------
* |                |        |
* |                |    T   |
* |                |    E   |
* |                |    X   |
* |                |    T   |
* |                |        |
* |                |        |
* ---------------------------
*
*/

.layout-11 {
  @extend .layout-6;
  .text-container {
    width: 25%;
    right: 0;
    left: auto;
  }
  .logo-container {
    right: auto;
    left: $default-spacing;
  }
}

/*
* Layout 12
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-12 {
  .text-container {
    display: none;
  }
}

/*
* Layout 13
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |        Textbox          |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-13 {
  .image-container {
    display: none;
  }

  .text-container {
    width: 100%;
    height: 100%;
  }
}
