/*
* Layouts default styling
*/

#slide-container {
  width: 100%;
  height: 100%;

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .image-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
    }

    .text-container {
      @include box-sizing(border-box);

      z-index: 20000;
      position: absolute;
      background-color: $textbox-color;

      .heading-container {
        @include box-sizing(border-box);
        padding: $textbox-padding;
      }

      .slide-heading {
        @include rem('font-size', $heading-font-size);
        @include rem('line-height', $heading-font-size * 1.2);
        @include rem('margin-bottom', $default-spacing);
        text-transform: uppercase;
      }

      .divider {
        width:10%;
        border-bottom: 0.2em solid $font-color;
        @include rem('margin-bottom', $default-spacing / 2);
      }

      .slide-subheading {
        @include rem('font-size', $subheading-font-size);
        font-style: italic;
        line-height: $subheading-font-size * 1.2;
        margin-bottom: $default-spacing / 2;
      }

      .slide-text {
        @include box-sizing(border-box);
        @include rem('font-size', $textbox-font-size);
        @include rem('line-height', $base-font-size * 1.4);
        @include rem('letter-spacing', $base-font-size * 0.1);
        font-family: $font-family-regular;
        padding: $textbox-padding;
      }
    }

    .logo-container {
      z-index: 21000;
      position:absolute;
      top: $default-spacing;
      right: $default-spacing;
    }

  }  
}



/*
* Layout 1
*
* ---------------------------
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-1 {

  .slide {
    .text-container {
      width: 100%;
      top:10%;

      .heading-container {
        width: 49.5%;
        float: left;
      }

      .slide-heading {
        @include rem('margin-bottom', $default-spacing / 2);
      }

      .slide-text {
        width: 49.5%;
        float: left;
      }

      .divider {
        display:none;
      }
    }
  }
}

/*
* Layout 2
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* ---------------------------
*
*/

.layout-2 {
  @extend .layout-1;

  .slide {
    .text-container {
      top: auto;
      bottom: 10%;
    }
  }
}

/*
* Layout 3
*
* ---------------------------
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-3 {
  @extend .layout-1;

  .slide {
    .text-container {
      top: 50%;
      margin-top: -134px; /* Must be replaced with javascript */
    }
  }
}

/*
* Layout 4
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |                         |
* |-------------------------|
* |        text box         |
* |-------------------------|
* ---------------------------
*
*/

.layout-4 {
  @extend .layout-1;

  .slide {
    .text-container {
      top: auto;
      bottom: 0;
    }
  }
}

/*
* Layout 5
*
* ---------------------------
* |-------------------------|
* |        text box         |
* |-------------------------|
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-5 {
  @extend .layout-1;

  .slide {
    .text-container {
      top: 0;
    }
  }
}

/*
* Layout 6
*
* ---------------------------
* |            |            |
* |      T     |            |
* |      E     |            |
* |      X     |            |
* |      T     |            |
* |            |            |
* |            |            |
* ---------------------------
*
*/

.layout-6 {

  .slide {
    .text-container {
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
    }
  }
}

/*
* Layout 7
*
* ---------------------------
* |            |            |
* |            |      T     |
* |            |      E     |
* |            |      X     |
* |            |      T     |
* |            |            |
* |            |            |
* ---------------------------
*
*/

.layout-7 {
  @extend .layout-6;

  .slide {
    .text-container {
      left: auto;
      right: 0;
    }
  }
}

/*
* Layout 8
*
* ---------------------------
* |        |                |
* |        |        T       |
* |        |        E       |
* |        |        X       |
* |        |        T       |
* |        |                |
* |        |                |
* ---------------------------
*
*/

.layout-8 {
  @extend .layout-6;

  .slide {
    .text-container {
      width: 75%;
      right: 0;
      left: auto;
    }
  }
}

/*
* Layout 9
*
* ---------------------------
* |                |        |
* |        T       |        |
* |        E       |        |
* |        X       |        |
* |        T       |        |
* |                |        |
* |                |        |
* ---------------------------
*
*/

.layout-9 {
  @extend .layout-6;

  .slide {
    .text-container {
      width: 75%;
    }
  }
}

/*
* Layout 10
*
* ---------------------------
* |        |                |
* |    T   |                |
* |    E   |                |
* |    X   |                |
* |    T   |                |
* |        |                |
* |        |                |
* ---------------------------
*
*/

.layout-10 {
  @extend .layout-6;

  .slide {
    .text-container {
      width: 25%;
    }
  }
}

/*
* Layout 11
*
* ---------------------------
* |                |        |
* |                |    T   |
* |                |    E   |
* |                |    X   |
* |                |    T   |
* |                |        |
* |                |        |
* ---------------------------
*
*/

.layout-11 {
  @extend .layout-6;

  .slide {
    .text-container {
      width: 25%;
      right: 0;
      left: auto;
    }
  }
}

/*
* Layout 12
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-12 {

  .slide {
    .text-container {
      display: none;
    }
  }
}

/*
* Layout 13
*
* ---------------------------
* |                         |
* |                         |
* |                         |
* |        Textbox          |
* |                         |
* |                         |
* |                         |
* ---------------------------
*
*/

.layout-13 {

  .slide {
    .image-container {
      display: none;
    }

    .text-container {
      width: 100%;
      height: 100%;
    }
  }
}
