/*
* Variables for use in stylesheets
*/

@import "compass/css3";

$default-spacing: 20px;
$box-border-radius: 12px;

$font-family: "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "AllerBold", $font-family;
$font-family-subheading: "AllerBold", $font-family;

$base-font-size:  16px;
$heading-font-size: 72px;
$subheading-font-size: 26px;
$textbox-font-size: 24px;

$font-color: #ffffff;
$textbox-color: #006027;
$textbox-padding: 20px;

