/*
* Variables for use in stylesheets
*/

@import "compass/css3";

$default-spacing: 20px;

$font-family: "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "AllerBold", $font-family;
$font-family-subheading: "AllerBold", $font-family;

$base-font-size:  16px;
$heading-font-size: $base-font-size * 4.5;
$subheading-font-size: $base-font-size;
$textbox-font-size: $base-font-size;

$font-color: #ffffff;
$textbox-color: #ff9900;
$textbox-padding: 20px;

