/*
* Main stylesheet
*/

//@import "compass/reset";
body, html, figure {
  margin: 0;
  padding: 0;
}

a {
  border: none;
}

@import "_variables.scss";
@import "_mixins.scss";
@import "_base.scss";
@import "_layouts.scss";